<div id="navigation-menu-full-screen-layout" class="layout">
    <ion-side-menus>
        <!-- navigation menu -->
        <ion-side-menu id="application-navigation-menu" side="left" ui-view="navigationMenu">
        </ion-side-menu>
        <!-- content -->
        <ion-side-menu-content>
            <ion-content id="application-screen-content">
                <div id="content-container" ui-view="content"></div>
            </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</div>